:root {
   --green: green;
   --black: #130f40;
   --light-color: #666;
   --box-shadow: 0 .5rem 1rem rgb(0, 0, 0.1);
   --border: 0.2rem solid rgba(0,0,0.1);
   --outline: 0.1rem solid rgba(0,0,0.1);
}


*
{
   text-decoration: 0;
   margin:0;
   padding:0;
   text-transform: capitalize;
   box-sizing: border-box;
   outline:none;
   text-decoration:none;
   transition:all 0.10s liner;
}

   html
   {
      font-size:62.5%;
      overflow-x:hidden;
      scroll-behavior:smooth;
      scroll-padding-top: 7em;
   }
   body
   {
      background:#eee;
   }
/* banner section*/
section
{
   padding: 2rem 9%;
}


.btn{
   border: 2px solid var(--black);
   display: inline-block;
   color: var(--black);
   padding: 0.8rem;
   margin: 1rem 1.5rem;
   cursor: pointer;
   border-radius: 0.5rem;
   width:90%;
}
.btn:hover{
   background-color: var(--green);
   color: #fff;

}

   .header
   {
      border:2px solid;
      position:fixed;
      left:0;
      right:0;
      top:0;
      display:flex;
      align-items:center;
      justify-content:space-between;
      padding:4rem 5%;
      height:4rem;
      box-shadow:(--box-shadow);
      background:white;
   }

   .header .logo
   {
     font-size: 2rem ; 
     font-weight:bolder  ;
   }

   .header .logo i
   {
      
      color:green;
   }

   .header .navbar
   {
      font-size: 2.3rem ;
      margin:0 20rem ;
      
   }
    .header .navbar a
    {
      color:black;
    }

        .header .navbar a:hover
        {
          color:green;
        }
     
        .header .icons  div
        {
         border:0px solid black;
           height: 5.5rem;
           width:5.5rem;
           line-height:5.5rem;
           text-align: center;
           margin-right: .6rem;
           font-size: 1.9rem;
           background:#eee;
           border-radius: 0.5rem;
           color: var(--black);
           cursor:pointer;

        }
         
      
                .header .icons  div:hover
                {
                  background:var(--green);
                 color:white;
                  
                }

  #menu-btn 
  {
  display:none;

}

.header .navbar.active
{
   right: 2rem;
   transition: 0.4s;
}




   .header .search-form

   {
      border:0rem  solid;
      position: absolute;
      top: 110%;
      right: -100%;
      height: 4.5rem;
      width: 37rem;
      border-radius: .5rem;
      background: #fff;
      display: flex;
      align-items: center;
      overflow: hidden;

   }
      .header .search-form.active 
      {
       right: 2rem;
       transition: 0.4s linear;
      }

      .header .search-form input
      {
         height:100%;
         width:100%;
         text-transform: none;
         background: none;
         padding:0 1.3rem;
         font-size:1.8rem;
         color:black;

      }
      .header .search-form label
      {
         font-size:2rem;
         padding-right: 1.5;
         cursor: pointer;
         color:black;

      }
      .header .search-form label:hover
      {
color:orange ;
      }

      .header .shopping-cart-a 
      {
        position: absolute;
        top: 110%;
        right:-100%;
        border: #9bda82;
        border-radius: 1.3rem;
        width: 35rem;
        background-color: #fff;
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
   

      }

      .header .shopping-cart-a.active
      {
         right: 2rem;
         transition: 0.4s linear;
      }

                  
      .header .shopping-cart-a .box
      {
         border: 0px solid #000;
         display: flex;
         gap: 1rem;
         margin: 01rem;
         align-items:center;
       width: 66%;
       justify-content: center;
       padding: 1rem 1rem;   
      }
      .header .shopping-cart-a .box img{
         height: 10rem;
          
      }

      .header .shopping-cart-a .box .fa-trash 
      {
         font-size: 1.7rem;
         position: relative;
         top: 10%;
         right: -32rem;
         color: var(--light-color);
         cursor:pointer;

      }
      .header .shopping-cart-a .box .fa-trash:hover
      {
         color: var(--green);
         
      }

      .header .shopping-cart-a .content h3
      {
         font-size: 1.6rem;
      }
      .header .shopping-cart-a .content span
      {
         font-size: 1.4rem;
         color: var(--light-color);
      }
 .header .shopping-cart-a .total
 {
   border: 0px solid ;
    position: relative;
    right: -2em;
    margin: 1rem 7rem;
   color: var(--b lack);
   font-size: 2rem; 
 }
 .header .shopping-cart-a .btn
 {
   display: block;
   text-align: center;
font-size: 2rem;
 }
                                 
 .header .login-form{
   box-shadow: var(--box-shadow);
  width:35rem;
   border: 1px solid var(--black);
   position: absolute;
   top: 110%;
right: -100%;
background: #fff;
text-align: center;
padding: 2rem;
border-radius: 0.5rem
 }
 .header .login-form.active
 {
   right: 2rem;
   transition: 0.4s linear ;
 }


 .header .login-form h3{
   font-size: 1.9rem;
   color: var(--black);

 }
 .header .login-form .box 
 {
   width: 100%;
   border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  color:"var(--black)";
 }

.home
{
   border: 1px solid;
  display: flex;
  justify-content: center;
  background:url(image/banner.png) no-repeat;
  background-position: center;
  background-size: cover;
  top:10%;
  padding-top: 27rem;
  padding-bottom: 37rem;
  width: 100%;
}

.home .content
{
   border: 0px solid;
 text-align: center;
 width: 65rem;
 padding :5rem;
}

.home .content h3
{
   color: var(--black);
   font-size: 3rem;
}

.home .content h3 span
{
 color: var(--green);
}
.home .content p
{
   font-size: 1.5rem ;
   color: var(--light-color);
}

 
/*@MEDIA quari */

 @media (max-width: 991px)
 {
   html
   {
      font-size:55%;
   }  
      .header
      {
         padding: 2rem;
      }   
 section
{
   padding: 2rem;
}

 }

 @media (max-width: 450px)
 {
   html
   {
      font-size:60%;
       
   }
 }

 @media (max-width: 768px)
 {

   html
   {
      font-size:55%;
   }

  .header 
  {
   height:7rem;
  }

   #menu-btn 
   {
   display:inline-block;
 }   

 .header .search-form
 {
   width: 90%;
 }

.header .navbar
{
  position: absolute;
  top: 110%;
  right:-110%;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  width: 30%;
  background: #fff;
}

.header .navbar a
{
   font-size: 2rem;
   display: block;
   margin: 1.5rem 2rem;

}

 }
